


:root {
    --white: #FFFFFF;
    --black: #000000;
    --colour1: #75E8EE;
}

body {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    max-width: 72em;
    width: 100%;
    font-family: Pathway Gothic One;
    background-color: var(--white);
}

.banner {
    background-color:var(--black);
    padding: 1em;
}

.banner-title{
   font-size: 4em; 
   color:var(--colour1)
}

.automation-image{
    width: 100%;
    height:18em;
}

.newspaper-warning-image{
    width: 100%;
}

.introducing-ai-images-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.ai-search-trends-graph{
    width: 100%;
}

.ai-brands-image{
    width:100%;
}

.welcome-ai{
    display: flex;
    
    background-color: var(--black);
    align-items: center;
    justify-content: center;
}

.welcome-ai-message{
    color:var(--colour1);
    padding:0.5em;
    font-size: 4em;
    text-align: center;
}

.the-future-is-here{
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    align-items: center;
}

.the-future-is-here-message{
    color:var(--colour1);
    padding:0.5em;
    font-size: 4em;
}

.ai-image{
    width:100%;
    height:16em;
    object-fit: cover;
}

.warning-text-banner{
    display:flex;
    flex-direction: column;
    background-color: black;
}
.warning-text{
    font-size: 4em;
    color:var(--colour1);
    padding:0.5em;
    text-align: right;
}

.image-references{
    font-size: 1em;
    padding:0.5em;
}

#banner {
    grid-area: ban;
}

#earlyAutomation{
    grid-area: au1;
}

#a1950sAutomation {
    grid-area: au2;
}

#modernAutomation {
    grid-area: au3;
}

#newspaperWarningTitle {
    grid-area: nwt;
}

#introducingAiImagesContainer {
    grid-area: iic;
}

#welcomeAI {
    grid-area: wai;
}

#theFutureIshere {
    grid-area: fis;
}

#aiGenerations {
    grid-area: aig;
}

#aiProgramming {
    grid-area: aip;
}

#aiPorentialUtopia {
    grid-area: aiu;
}

#reachingToTheUnknown{
    grid-area: air;
}

#warningTextBanner{
    grid-area: wtb;
}

#imageReferences{
    grid-area: irf;
}

.main-container{
    display:grid;
    column-gap: 1em;
}


.main-container {
    grid-template:
            "ban ban ban ban" minmax(4em, auto)
            " .   .   .   . " minmax(2em, auto)
            "au1 au1 au1 au1" minmax(18em, auto)
            " .   .   .   . " minmax(2em, auto)
            "au2 au2 au2 au2" minmax(18em, auto)
            " .   .   .   . " minmax(2em, auto)
            "au3 au3 au3 au3" minmax(18em, auto)
            " .   .   .   . " minmax(4em, auto)
            "nwt nwt nwt nwt" minmax(10em, auto)
            " .   .   .   . " minmax(2em, auto)
            "wai wai wai wai" minmax(18em, auto)
            " .   .   .   . " minmax(2em, auto)
            "iic iic iic iic" minmax(26em, auto)
            " .   .   .   . " minmax(2em, auto)
            "fis fis fis fis" minmax(4em, auto)
            "aig aig aig aig" minmax(16em, auto)
            " .   .   .   . " minmax(2em, auto)
            "aip aip aip aip" minmax(16em, auto)
            " .   .   .   . " minmax(2em, auto)
            "aiu aiu aiu aiu" minmax(16em, auto)
            " .   .   .   . " minmax(2em, auto)
            "air air air air" minmax(16em, auto)
            " .   .   .   . " minmax(4em, auto)
            "wtb wtb wtb wtb" minmax(4em, auto)
            "irf irf irf irf" minmax(50em, auto)
    }

@media (min-width: 50em) {
    .main-container {
        grid-template:
            "ban ban ban ban ban ban ban ban" minmax(4em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "au1 au1 au1 au1 au2 au2 au2 au2" minmax(18em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            " .   .  au3 au3 au3 au3  .   . " minmax(18em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            "nwt nwt nwt nwt nwt nwt nwt nwt" minmax(10em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "wai wai wai wai wai wai wai wai" minmax(18em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "iic iic iic iic iic iic iic iic" minmax(26em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "fis fis fis fis fis fis fis fis" minmax(4em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "aig aig aig aig aip aip aip aip" minmax(16em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "aiu aiu aiu aiu air air air air" minmax(16em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "wtb wtb wtb wtb wtb wtb wtb wtb" minmax(4em, auto)
            "irf irf irf irf irf irf irf irf" minmax(50em, auto)
    }
}
@media (min-width: 75em) {
    .main-container{
        grid-template:
            "ban ban ban ban ban ban ban ban ban ban ban ban" minmax(4em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "au1 au1 au1 au1 au2 au2 au2 au2 au3 au3 au3 au3" minmax(18em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "nwt nwt nwt nwt nwt nwt nwt nwt nwt nwt nwt nwt" minmax(10em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "iic iic iic iic iic iic iic iic wai wai wai wai" minmax(26em, auto)
            "fis fis fis fis fis fis fis fis fis fis fis fis" minmax(4em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "aig aig aig aig aig aig aip aip aip aip aip aip" minmax(16em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "aiu aiu aiu aiu aiu aiu air air air air air air" minmax(16em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "wtb wtb wtb wtb wtb wtb wtb wtb wtb wtb wtb wtb" minmax(4em, auto)
            "irf irf irf irf irf irf irf irf irf irf irf irf" minmax(50em, auto)
    }
}